.bottomBar {
  display: flex;
  background: var(--color60);
  height: 52px;
}

.bottomBar ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.bottomBar li {
  color: var(--colorWhite);
}

.bottomBar li:first-child {
  opacity: 0.7;
}
