.topBar {
  display: flex;
  padding: 0 16px;
}

.topBarIcon {
  height: 56px;
  padding: 8px 0;
}

.topBar ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  gap: 40px;
}

.topBar a {
  color: var(--colorWhite);
}
