<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAujp0uPjeZON2qxLyoXwkMskgEqfdm-Ns</string>
	<key>GCM_SENDER_ID</key>
	<string>364495813911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.citytaxi</string>
	<key>PROJECT_ID</key>
	<string>city-taxi-93be1</string>
	<key>STORAGE_BUCKET</key>
	<string>city-taxi-93be1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364495813911:ios:c52bd4eaf141bd1a214b52</string>
</dict>
</plist>