<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Reservations</mat-card-title>
     <a routerLink="add"
        class="float-r"
        mat-flat-button
        color="primary"
      >Add new
  </a>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
      <div class="col-lg-12 col-sm-12">

        <div class="table-hover m-t-16">
          <table mat-table [dataSource]="dataSource" class="w-100">
            <ng-container matColumnDef="passengerMobileNo">
              <th mat-header-cell *matHeaderCellDef> Passenger mobile</th>
              <td mat-cell *matCellDef="let element"> {{element.passengerMobileNo}} </td>
            </ng-container>
            <ng-container matColumnDef="vehicleType">
              <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
              <td mat-cell *matCellDef="let element"> {{element.vehicleType}} </td>
            </ng-container>
            <ng-container matColumnDef="pickupDate">
              <th mat-header-cell *matHeaderCellDef> Reserve date </th>
              <td mat-cell *matCellDef="let element"> {{element.pickupDate + ' - ' + element.pickupTime || ''}} </td>
            </ng-container>
            <ng-container matColumnDef="pickLocationAddress">
              <th mat-header-cell *matHeaderCellDef> Pickup location </th>
              <td mat-cell *matCellDef="let element"> {{element.pickLocationAddress || '-'}} </td>
            </ng-container>
            <ng-container matColumnDef="dropLocationAddress">
              <th mat-header-cell *matHeaderCellDef> Drop location </th>
              <td mat-cell *matCellDef="let element"> {{element.dropLocationAddress || '-'}} </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
      
    </div>
  </mat-card-content>
</mat-card>
