<div class="row">
      
  <div class="col-lg-4 col-sm-6">
    <mat-card class="cardWithShadow">
      <mat-card-header class="d-flex align-items-center p-x-24">
        <div class="m-l-auto">
          <button mat-fab color="accent" class="shadow-none icon-48">
            <i-tabler
              name="car"
              class="text-white d-flex"
            ></i-tabler>
          </button>
        </div>
        <mat-card-title>Registered Drivers</mat-card-title>
      </mat-card-header>
      <mat-card-content class="m-b-32 p-x-24">
        <h4 class="mat-headline-5">{{driversCount || '-'}}</h4>
      </mat-card-content>
      <apx-chart
        [series]="viewChart.series"
        [dataLabels]="viewChart.dataLabels"
        [chart]="viewChart.chart"
        [legend]="viewChart.legend"
        [colors]="viewChart.colors"
        [stroke]="viewChart.stroke"
        [tooltip]="viewChart.tooltip"
        [plotOptions]="viewChart.plotOptions"
        [responsive]="viewChart.responsive"
      ></apx-chart>
    </mat-card>
  </div>
  <div class="col-lg-4 col-sm-6">
    <mat-card class="cardWithShadow">
      <mat-card-header class="d-flex align-items-center p-x-24">
        <div class="m-l-auto">
          <button mat-fab color="accent" class="shadow-none icon-48">
            <i-tabler
              name="user"
              class="text-white d-flex"
            ></i-tabler>
          </button>
        </div>
        <mat-card-title>Registered Passengers</mat-card-title>
      </mat-card-header>
      <mat-card-content class="m-b-32 p-x-24">
        <h4 class="mat-headline-5">{{passengersCount || '-'}}</h4>
      </mat-card-content>
      <apx-chart
        [series]="viewChart.series"
        [dataLabels]="viewChart.dataLabels"
        [chart]="viewChart.chart"
        [legend]="viewChart.legend"
        [colors]="viewChart.colors"
        [stroke]="viewChart.stroke"
        [tooltip]="viewChart.tooltip"
        [plotOptions]="viewChart.plotOptions"
        [responsive]="viewChart.responsive"
      ></apx-chart>
    </mat-card>
  </div>
  <div class="col-lg-4 col-sm-6">
    <mat-card class="cardWithShadow">
      <mat-card-header class="d-flex align-items-center p-x-24">
        <div class="m-l-auto">
          <button mat-fab color="accent" class="shadow-none icon-48">
            <i-tabler
              name="location"
              class="text-white d-flex"
            ></i-tabler>
          </button>
        </div>
        <mat-card-title>Total Reservations</mat-card-title>
      </mat-card-header>
      <mat-card-content class="m-b-32 p-x-24">
        <h4 class="mat-headline-5">{{reservationsCount || '-'}}</h4>
      </mat-card-content>
      <apx-chart
        [series]="viewChart.series"
        [dataLabels]="viewChart.dataLabels"
        [chart]="viewChart.chart"
        [legend]="viewChart.legend"
        [colors]="viewChart.colors"
        [stroke]="viewChart.stroke"
        [tooltip]="viewChart.tooltip"
        [plotOptions]="viewChart.plotOptions"
        [responsive]="viewChart.responsive"
      ></apx-chart>
    </mat-card>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="d-flex w-100">
          <mat-card-title>Reservations Overview</mat-card-title>
        </div>
        <apx-chart
          [series]="reservationsOverviewChart.series"
          [dataLabels]="reservationsOverviewChart.dataLabels"
          [chart]="reservationsOverviewChart.chart"
          [legend]="reservationsOverviewChart.legend"
          [xaxis]="reservationsOverviewChart.xaxis"
          [yaxis]="reservationsOverviewChart.yaxis"
          [grid]="reservationsOverviewChart.grid"
          [stroke]="reservationsOverviewChart.stroke"
          [tooltip]="reservationsOverviewChart.tooltip"
          [plotOptions]="reservationsOverviewChart.plotOptions"
        ></apx-chart>
      </mat-card-content>
    </mat-card>
  </div> -->
  