

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.float-r{
    float: right;
}

.mat-mdc-card-header-text{
    display: inline-block !important;
}

.mat-mdc-form-field{
    display: inline-block !important;
    width: 100%;
}