/* This is the Font Declaration Style Sheet */
@font-face {
  font-family: "Merriweather Sans";
  src: url("MerriweatherSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather Sans";
  src: url("MerriweatherSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
