:root {
  /* Default Text Properties */
  /* Weight */
  /* --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800; */
  /* Size */
  --font-size-85: 85px;
  --font-size-70: 70px;
  --font-size-40: 40px;
  --font-size-32: 32px;
  --font-size-30: 30px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18.72px;
  --font-size-16: 16px;
  --font-size-13: 13.28px;
  --font-size-10: 10.72px;
  /* Line Height */
  /* --line-height-40: 50px;
  --line-height-32: 40px;
  --line-height-30: 38px;
  --line-height-24: 30px;
  --line-height-20: 25px;
  --line-height-18: 24px;
  --line-height-16: 20px;
  --line-height-13: 17px;
  --line-height-10: 14px; */
}
