.webBody {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 40px;
  padding: 40px;
}

hr {
  border-top: 1px solid var(--colorWhite);
}

/* Intro Container */
.introContainer {
  padding: 16px;
  height: 500px;
  border-radius: 16px;
  background: var(--colorWhite30);
  display: flex;
}

.introImage {
  padding: 0 56px;
  width: 50%;
}

.introContent {
  width: 50%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 24px;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.text * {
  color: var(--color60);
  font-size: var(--font-size-32);
  font-weight: bold;
}

.text span {
  font-size: var(--font-size-40);
}

.quote {
  color: var(--colorWhite);
  font-size: var(--font-size-24);
  text-align: end;
}

.introContent ul {
  display: flex;
  justify-content: end;
  gap: 56px;
}

.introContent ul * {
  color: var(--color60);
  font-size: var(--font-size-24);
  font-weight: bold;
}
/* Intro Container */

/* Call Container */
.callContainer {
  display: flex;
  height: 150px;
  padding: 0 16px;
  gap: 16px;
}

.callContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.callContent p:first-child {
  font-size: var(--font-size-32);
  color: var(--color60);
}

.callContent p:last-child {
  font-size: var(--font-size-32);
  color: var(--colorWhite);
  opacity: 0.7;
}

.callNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.callNumber a {
  padding: 16px 32px;
  border-radius: 16px;
  font-size: var(--font-size-32);
  font-weight: 800;
  color: var(--colorWhite);
  background: var(--colorWhite30);
}
/* Call Container */

/* Login Container */
.loginContainer {
  display: flex;
  height: 300px;
  background: var(--colorBlack30);
  padding: 24px;
  border-radius: 16px;
}

.loginContainer * {
  color: var(--colorWhite);
}

.loginUser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: var(--colorBlack30);
  border-radius: 12px;
  flex-direction: column;
  gap: 48px;
}

.loginUser p:first-child {
  font-size: var(--font-size-32);
  text-align: center;
}

.loginUser p:last-child {
  font-size: var(--font-size-24);
  text-align: center;
}

.loginUser div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loginStaff {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  flex-shrink: 0;
  gap: 12px;
}

.loginStaff p {
  font-size: var(--font-size-32);
  text-align: center;
}

.loginStaff a {
  font-size: var(--font-size-24);
  text-align: center;
  text-decoration: underline;
}
/* Login Container */
