#reserveBody {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

#reserveBody .loginCard {
  width: 700px;
  gap: 32px;
}

.reserveDetails {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.reserveDetails > div {
  display: flex;
  width: 100%;
  gap: 16px;
}

.reserveImage {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  padding: 8px;
  border-radius: 12px;
  background: var(--colorWhite30);
}

#reserveBody .logInput::placeholder {
  text-align: left;
  color: var(--colorWhite);
  font-size: var(--font-size-18);
}

.reserveBtns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.reserveBtns a:first-child {
  color: var(--colorWhite);
  font-size: var(--font-size-18);
}

.reserveDetails .logInput:last-child {
  height: 80px;
}
